@model D08Ramya.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GameDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GameName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GameName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.GameID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
